body {
	background-color: #F5F5DC;
}

.card {
	width: 18rem;
}

.recipes {
	border: 2px solid rgba(204, 204, 204, 0.5);
	background-color: white;
}

.scroll {
	width: auto;
	height: 100px;
	overflow-y: scroll;
	position: relative;
}

#avatar {
	border: 2px solid rgba(204, 204, 204, 0.5);
}

.my-button {
	background-color: white;
}

.my-button:hover {
	background-color: red;
}
