
.form-control:focus {
    border-color: red;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
}

#recipe-cards {
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-items: center;
}

.text-highlight:hover {
    display: inline-flex;
    color: white;
    background-color: rgba(216, 62, 62, 0.6); 
}

.grid-item {
    height: 20rem;
    width: 60rem;
    margin-top: 2em;
    margin-bottom: 2em;
}

.embed-responsive .card-img-top {
    object-fit: cover;
}